<head>
  <link href="/styles/styles.css" rel="stylesheet"/>
  <link href="/styles/header.css" rel="stylesheet"/>
  <link rel="icon" href="/assets/favicon.png" sizes="16x16" type="image/png"/>
  <meta charset="UTF-8"/>
  <meta property="og:image" content="/assets/logo-256x256.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta content="#4400FF" data-react-helmet="true" name="theme-color"/>
  {% seo %}
</head>
