<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}
  <body>
    <header>
      <a class="active" href="./">Home</a>
      <nav>
        <a href="/posts">Posts</a>
        <a href="/about">About</a>
        <a href="/rocks">Rocks</a>
      </nav>
    </header>
    <h1>{{ page.title }}</h1>
    <img src="/assets/logo-512x512.png" class="icon" height="256" alt="Logo"/>
    {{ content }}
  </body>
</html>
