<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}
  <body>
    <header>
      <a href="./">Home</a>
      <nav>
        <a href="/posts">Posts</a>
        <a href="/about">About</a>
        <a class="active" href="/rocks">Rocks</a>
      </nav>
    </header>
    <h1>{{ page.title }}</h1>
    {{ content }}
  </body>
</html>
