---
---

header {
  overflow: hidden;
  background-color: #151515;
  padding: 10px;
  border-radius: 10px;
}

header a {
  float: left;
  color: #c4c4c4;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

header a.logo {
  font-size: 24px;
  font-weight: bold;
}

header a:hover, header a.active {
  background-color: #4400FF;
  color: white;
}

nav {
  float: right;
}


@media (min-width: 768px) {
  header a {
    font-size: 22.5px;
  }
}
